@mixin card-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  border: 2px solid $card-border-color;
  padding: 1rem;
  box-shadow: 0 0 2px 2px $card-border-color;
}

@mixin center-horizontal-evenly-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}