$primary-color: tomato;
$secondary-color : #878787;
$third-color: #0C66D3;
$card-border-color : #DBDBDB;  

$footer-shadow-color: lightgray;
$footer-background-color: gray;

$media-breakpoint-narrow: 768px;
$media-breakpoint-wide: 1000px
