@import "./normalize";
@import "./variable";
@import "./common_style";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}


body{
  max-width: 1200px;
  margin: auto;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

a{
  color: $primary-color;
}


header,
main{
  width: 90%;
  margin: 0 auto ;
}

main{
  &{
    @media only screen and (min-width:$media-breakpoint-wide){
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: minmax(230px,auto);
      grid-gap: 1rem;
    }
  }
}


header{
  margin: 1rem auto;
  text-align: center;

  a{
    color: $secondary-color;
  }

  @media only screen and (min-width:$media-breakpoint-narrow){
    &{
      @include center-horizontal-evenly-layout
    }
  }
}

h1{
  text-decoration: underline;
}

.card{
  @include card-layout;

  #{&}_category{
    margin: .5rem 0;
    font-weight: 600;
  };

  #{&}_date{
    color: $secondary-color;
    margin: 10px 0;
  };

  #{&}_description{
    margin-bottom: 1rem;
  }

  .world{
    color: $primary-color;
  }

  .design{
    color: $third-color;
  }

  transition: box-shadow 150ms ease-in;

  &:hover{
    box-shadow: 0 0 10px 2px $primary-color;
    border: none;
    cursor: pointer;
  }
}


footer{
  width: 100%;
  background: rgba($color: $footer-background-color, $alpha: .2);
  border-top: solid 2px $primary-color;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  height: 5rem;
  margin-top: 1rem;

  p{
    margin-bottom: 1rem;
  }
}