$primary-color: tomato;

$secondary-color: gray;
$secondary-color-lighter-40: lighten($secondary-color,40%);
$secondary-color-lighter-30: lighten($secondary-color,30%);
$secondary-color-lighter-45: lighten($secondary-color,45%);

$third-color: green;
$fourth-color: blue;
$fourth-color-lighter: lighten($fourth-color,10%)

// $base-dark: darken();
// $base-light: lighten();
// $complementary: complement();
